<html>
<head>
    <title>Baby Data home</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<div class="container">
    <ul class="nav bg-info">
        <li class="nav-item">
            <a class="nav-link active" href="/baby_records">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/baby_records/main_toilet">Toileting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/baby_records/main_feed">Feeding</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/baby_records/main_sleep">Sleeping</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/baby_records/main_growth">Growth</a>
        </li>
    </ul>
    {% block content %}
    {% endblock %}
</div>


<body>  
<div class="container py-2">
    <h3> This is the {{entry_type}} entry you selected  </h3>
    {% csrf_token %} 
    {% for field in session_entry %}
        <li><b>{{ field.label }}:</b> {{ field.data }}</li>
    {% endfor %}
    {% if form_header == 'toileting' %}
        <div class="container py-2"> <a class="btn btn-outline-primary" href="/baby_records/main_toilet" role="button">Return to toilet page </a> </div>
    {% elif form_header == 'breast feeding' or form_header == 'bottle feeding' %}
        <div class="container py-2"> <a class="btn btn-outline-primary" href="/baby_records/main_feed" role="button">Return to feeding page </a> </div>
    {% elif form_header == 'sleeping' %}
        <div class="container py-2"> <a class="btn btn-outline-primary" href="/baby_records/main_sleep" role="button">Return to sleeping page </a> </div>
    {% elif form_header == 'growth measurements' %}
        <div class="container py-2"> <a class="btn btn-outline-primary" href="/baby_records/main_growth" role="button">Return to growth page </a> </div>
    {% else %}
        put button here XXX
    {% endif %}
    <div class="container py-2"> <a class="btn btn-outline-primary" href="/baby_records" role="button">Return to home </a> </div>
</div>
</body>  
</html> 