<html>
<head>
    <title>Baby Data home</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<div class="container">
    <ul class="nav bg-info">
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/main_toilet">Toileting</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/main_feed">Feeding</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/main_sleep">Sleeping</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/main_growth">Growth</a>
        </li>
    </ul>
    {% block content %}
    {% endblock %}
</div>


<body>  
    <h3> This is the {{entry_type}} entry you selected  </h3>
    {% csrf_token %} 
    {% for field in session_entry %}
        <li><b>{{ field.label }}:</b> {{ field.data }}</li>
    {% endfor %}
    <!-- <div class="container py-2"> <a class="btn btn-outline-secondary" href="/baby_records/{{entry_type}}_edit/{{session_entry.entry_id}}" role="button">Update record </a> </div> -->
    <div class="container py-2"> <a class="btn btn-outline-primary" href="/baby_records" role="button">Return to home </a> </div>
</body>  
</html> 