<!-- This page is the forms page -->
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    {% if form_header == 'toileting' %}
        <title> Toileting form</title>  
    {% elif form_header == 'feeding' %}
        <title> Feeding form</title>
    {% elif form_header == 'sleeping' %}
        <title> Sleeping form</title>
    {% elif form_header == 'growth measurements' %}
        <title> Growth Measurement form</title>
    {% else %}
        <title> Form</title>
    {% endif %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>  

<div class="container">
    <ul class="nav bg-info">
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/main_toilet">Toileting</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/main_feed">Feeding</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/main_sleep">Sleeping</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/main_growth">Growth</a>
        </li>
    </ul>
    {% block content %}
    {% endblock %}
</div>

<body>  
    <h2> Please enter the details for the new {{form_header}} entry </h2>
    <form method="POST" action={{form_url}} class="post-form" enctype="multipart/form-data">  
        {% csrf_token %} 
        {% for field in form %}
            <div class="container py-2">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
    {% endfor %} 
    <div class="container py-2"> <button type="submit" class="btn btn-outline-primary">Submit</button> </div>
    </form>  
    {% if form_header == 'toileting' %}
        <div class="container py-2"> <a class="btn btn-outline-primary" href="/baby_records/main_toilet" role="button">Return to toilet page </a> </div>
    {% elif form_header == 'breast feeding' or form_header == 'bottle feeding' %}
        <div class="container py-2"> <a class="btn btn-outline-primary" href="/baby_records/main_feed" role="button">Return to feeding page </a> </div>
    {% elif form_header == 'sleeping' %}
        <div class="container py-2"> <a class="btn btn-outline-primary" href="/baby_records/main_sleep" role="button">Return to sleeping page </a> </div>
    {% elif form_header == 'growth measurements' %}
        <div class="container py-2"> <a class="btn btn-outline-primary" href="/baby_records/main_growth" role="button">Return to growth page </a> </div>
    {% else %}
        put button here XXX
    {% endif %}
    <div class="container py-2"> <a class="btn btn-outline-primary" href="/baby_records" role="button">Return to home </a> </div>
</body>  
</html> 