<!-- This page is the details page -->
<form action="{% url 'baby_records:toilet_record' entry.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Tell me about the toileting time</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <input type="checkbox" name="pee" id="pee_id" value="{{ pee }}">
        <label for="pee_id"> Pee </label><br>
        <input type="checkbox" name="poo" id="poo_id" value="{{ poo }}">
        <label for="poo_id"> Poo </label><br>
    </fieldset>
    <input type="submit" value="Toilet Record">
</form>
