<!-- This page is the index, aka http://127.0.0.1:8000/baby_records/ -->
<html>
<head>
    <title>Baby Data home</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<div class="container">
    <ul class="nav bg-info">
        <li class="nav-item">
        <a class="nav-link active" href="/baby_records">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="/baby_records/main_toilet">Toileting</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="/baby_records/main_feed">Feeding</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="/baby_records/main_sleep">Sleeping</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="/baby_records/main_growth">Growth</a>
        </li>
    </ul>
    {% block content %}
    {% endblock %}
</div>

<header> 
    <centre></centre>
    <h1 class="text-center">Hello! Welcome to the Baby Crow records </h1>
</header>


<body>
    <div class="container py-2">
        <a class="btn btn-warning" href="/baby_records/toilet_form" role="button">Create new toileting record</a>
    </div>
    <div class="container py-2">
        <a class="btn btn-info" href="/baby_records/feeding_form" role="button">Create new feeding record</a>
    </div>
    <div class="container py-2">
        <a class="btn btn-primary" href="/baby_records/sleeping_form" role="button">Create new sleeping record</a>
    </div>
    <div class="container py-2">
        <a class="btn btn-success" href="/baby_records/growth_form" role="button">Measure growth</a>
    </div>
    
</body>
</html>