<!-- This page is the index, aka http://127.0.0.1:8000/baby_records/ -->
<html>
<head>
    <title>Baby Data home</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<div class="container">
    <ul class="nav bg-info">
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/toilet_form">Toileting</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/feeding_form">Feeding</a>
        </li>
    </ul>
    {% block content %}
    {% endblock %}
</div>

<header> 
    <h1>Hello! Welcome to the Baby Crow records </h1>
</header>

<div class="container py-2"> <a class="btn btn-outline-warning" href="/baby_records/toilet_form" role="button">Create new toileting record</a></div>
<div class="container py-2"> <a class="btn btn-outline-info" href="/baby_records/feeding_form" role="button">Create new feeding record</a></div>


<body>
<h2>Latest toileting entries below:</h2>
{% if latest_records_list_toilet %}
    <ul>
    {% for toilet_record in latest_records_list_toilet %}
        <li><a href="/baby_records/{{ toilet_record.id }}/toileting">Pee = {{ toilet_record.pee }}, Poo = {{ toilet_record.poo }}, Time = {{ toilet_record.toilet_time }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No toilet records are available.</p>
{% endif %}

<h2>Latest feeding entries below:</h2>
{% if latest_records_list_feed %}
    <ul>
    {% for feed_record in latest_records_list_feed %}
        <li><a href="/baby_records/{{ feed_record.id }}/feeding">Feed time = {{ feed_record.feed_time }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No feed records are available.</p>
{% endif %}

</body>
</html>