<!-- This page is the index, aka http://127.0.0.1:8000/baby_records/ -->
<html>
<head>
    <title>Baby Data home</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<div class="container">
    <ul class="nav bg-info">
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/toilet_form">Toileting</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/feeding_form">Feeding</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/sleeping_form">Sleeping</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/growth_form">Growth</a>
        </li>
    </ul>
    {% block content %}
    {% endblock %}
</div>

<header> 
    <h2> Let's look at the {{form_header}} records </h2>
</header>

<div class="container py-2"> <a class="btn btn-outline-warning" href={{form_url}} role="button">Create new {{form_header}} record</a></div>

<body>
{% if latest_records_list_toilet %}
    <h2>Latest toileting entries below:</h2>
    <table>
        <tr>
            {% for field in latest_records_list_toilet[-1] %}
            <th>{{field.label}}</th>
            {% endfor %}
            <!-- <th>Pee</th>
            <th>Pee scale</th>
            <th>Poo</th>
            <th>Poo scale</th>
            <th>Poo colour</th>
            <th>Time</th>
            <th>Notes</th> -->
        </tr>
    {% for toilet_record in latest_records_list_toilet %}
    <tr>
        {% for field in toilet_record %}
            <li><b>{{ field.label }}:</b> {{ field.data }}</li>
        {% endfor %}
        <td><a href="/baby_records/toileting/{{ toilet_record.id }}"> {{toilet_record.id}}</a></td>
        <td>{{ toilet_record.pee }}</td>
        <td>{{ toilet_record.pee_scale }}</td>
        <td>{{ toilet_record.poo }}</td>
        <td>{{ toilet_record.poo_scale }}</td>
        <td>{{ toilet_record.poo_colour }}</td>
        <td>{{ toilet_record.toilet_time }}</td>
        <td>{{ toilet_record.notes }}</td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No toilet records are available.</p>
{% endif %}