<html>
<head>
    <title>Update record</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<div class="container">
    <ul class="nav bg-info">
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/toilet_form">Toileting</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/feeding_form">Feeding</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/sleeping_form">Sleeping</a>
        </li>
        <li class="nav-item">
        <a class="nav-link link-light" href="/baby_records/growth_form">Growth</a>
        </li>
    </ul>
    {% block content %}
    {% endblock %}
</div>


<body>  
    <h3> This is the {{entry_type}} entry you selected  </h3>
    Time: {{ session_entry }}
    <br/>
    <form action="" method = POST>
        {% csrf_token %}
        {{form.as_p}}
        <br/>
        <div class="container py-2"> <input type="submit" value = "Update" class="btn btn-outline-primary"> </div>
    </form>
    <div class="container py-2"> <a class="btn btn-outline-primary" href="/baby_records" role="button">Return to home </a> </div>
</body>  
</html> 